@import "tailwindcss";

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-VariableFont_wdth,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-stretch: 75% 100%;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-hifi-white: #ffffff;
  --color-hifi-gray-lightest: #f4f4f2;
  --color-hifi-gray-light: ##e8e8e8;
  --color-hifi-gray-medium: #bbbfca;
  --color-hifi-gray-dark: #495464;
  --color-hifi-black: #000000;
  --color-hifi-accent: #ff6900;

  --font-open-sans: "Open Sans", sans-serif;
}

body {
  font-family: var(--font-open-sans);
}

.menu-link::after {
  content: attr(data-text);
  content: attr(data-text) / "";
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: var(--bold);
}
